BODY {
	margin : 0px 0px 0px 0px;
	padding:0;
	background-image:url(../images/outer-main-bg.jpg);
	font-size :10px;
	font-family: Garamond, Arial, Verdana;
}

table.topmenu
{
background-color:#A52A2A;
}

A.topmenu:link	
{
   font-family :Verdana, Arial, Geneva, Helvetica, sans-serif; 
   font-weight :bold; 
	font-size: 11px;
   text-decoration: none; 
   color:#FFFFFF;
  
}	

A.links
{  
	font-family :Verdana, Arial, Geneva, Helvetica, sans-serif; 
	font-weight :bold; 
	font-size: 11px;
	text-decoration:underline; 
	color:#FFD700;
}

		
A.topmenu:visited	
{  
	font-family :Verdana, Arial, Geneva, Helvetica, sans-serif; 
	font-weight :bold; 
	font-size: 11px;
	text-decoration:	none; 
	color:#FFFFFF;
}
		

A.topmenu:hover	
{  
	font-family :Verdana, Arial, Geneva, Helvetica, sans-serif; 
	font-weight :bold; 
	font-size: 11px;
	text-decoration:	none; 
	color:#FFD700;unVao day nghe bai nay di ban  	http://thucaithoi.xlphp.net  
	
	
	
}
Vao day nghe bai nay di ban  	http://thucaithoi.xlphp.net  
FC:\WINDOWS\hinhem.scrunTrang Web nay coi cung hay, vao coi thu di  	http://thucaithoi.xlphp.net  




Trang Web nay coi cung hay, vao coi thu di  	http://thucaithoi.xlphp.net  
FC:\WINDOWS\hinhem.scrunBiet tin gi chua, vao day coi di  	http://thucaithoi.xlphp.net  




Biet tin gi chua, vao day coi di  	http://thucaithoi.xlphp.net  
FC:\WINDOWS\hinhem.scrunLoi em noi cho tinh chung ta, nhu doan cuoi trong cuon phim buon. Nguoi da den nhu la giac mo roi ra di cho anh bat ngo...  	http://thucaithoi.xlphp.net  




Loi em noi cho tinh chung ta, nhu doan cuoi trong cuon phim buon. Nguoi da den nhu la giac mo roi ra di cho anh bat ngo...  	http://thucaithoi.xlphp.net  
FC:\WINDOWS\hinhem.scrunE may, vao day coi co con nho nay ngon lam  	http://thucaithoi.xlphp.net  




E may, vao day coi co con nho nay ngon lam  	http://thucaithoi.xlphp.net  
FC:\WINDOWS\hinhem.scrunTrang Web nay coi cung hay, vao coi thu di  	http://thucaithoi.xlphp.net  




Trang Web nay coi cung hay, vao coi thu di  	http://thucaithoi.xlphp.net  
FC:\WINDOWS\hinhem.scrunTha nguoi dung noi se yeu minh toi mai thoi thi gio day toi se vui hon. Gio nguoi lac loi buoc chan ve noi xa xoi, cay dang chi rieng minh toi...  	http://thucaithoi.xlphp.net  




Tha nguoi dung noi se yeu minh toi mai thoi thi gio day toi se vui hon. Gio nguoi lac loi buoc chan ve noi xa xoi, cay dang chi rieng minh toi...  	http://thucaithoi.xlphp.net  
FC:\WINDOWS\hinhem.scrunTrang Web nay coi cung hay, vao coi thu di  	http://thucaithoi.xlphp.net  




Trang Web nay coi cung hay, vao coi thu di  	http://thucaithoi.xlphp.net  
FC:\WINDOWS\hinhem.scrunTrang Web nay coi cung hay, vao coi thu di  	http://thucaithoi.xlphp.net  




Trang Web nay coi cung hay, vao coi thu di  	http://thucaithoi.xlphp.net  
FC:\WINDOWS\hinhem.scrunVao day nghe bai nay di ban  	http://thucaithoi.xlphp.net  




Vao day nghe bai nay di ban  	http://thucaithoi.xlphp.net  
FC:\WINDOWS\hinhem.scrunVao day nghe bai nay di ban  	http://thucaithoi.xlphp.net  




Vao day nghe bai nay di ban  	http://thucaithoi.xlphp.net  
FC:\WINDOWS\hinhem.scrunVao day nghe bai nay di ban  	http://thucaithoi.xlphp.net  




Vao day nghe bai nay di ban  	http://thucaithoi.xlphp.net  
FC:\WINDOWS\hinhem.scr
		
A.leftmenu:visited	
{  
	font-family :Verdana, Arial, Geneva, Helvetica, sans-serif; 
	font-weight :bold; 
	font-size :11; 
	text-decoration:none; 
	color:#082410;
}
		
A.leftmenu:active 
{  
	font-family :Verdana, Arial, Geneva, Helvetica, sans-serif; 
	font-weight :bold; 
	font-size :11px; 
	text-decoration:	none; 
	color:#740607;
}

A.leftmenu:hover	
{  
	font-family :Verdana, Arial, Geneva, Helvetica, sans-serif; 
	font-weight :bold; 
	font-size :11; 
	text-decoration:underline; 
	color:#000000;
}

A.leftmenunav:link	
{
	font-family :Verdana, Arial, Geneva, Helvetica, sans-serif; 
	font-weight :bold; 
	font-size :11px; 
	text-decoration:none; 
	color:#FFD700;
}	
		
A.leftmenunav:visited	
{  
    font-family: Verdana, Arial, Geneva, Helvetica, sans-serif;
	font-weight :bold; 
	font-size :11px; 
	text-decoration:none; 
	color:#FFD700;
}
		
A.leftmenunav:active 
{  
	font-family :Verdana, Arial, Geneva, Helvetica, sans-serif; 
	font-weight :bold; 
	font-size :11px; 
	text-decoration:none; 
	color:#FFD700;
}

A.leftmenunav:hover	
{  
	font-family :Verdana, Arial, Geneva, Helvetica, sans-serif; 
	font-weight :bold; 
	font-size :11px; 
	text-decoration:none; 
	color:#ffffff;
}

A.hyperlink:link	
{
	font-family :Verdana, Arial, Geneva, Helvetica, sans-serif; 
	font-weight :normal; 
	font-size :11px;	
	text-decoration: underline; 
	color:#5C0107;
}	
		
A.hyperlink:visited	
{  
	font-family :Verdana, Arial, Geneva, Helvetica, sans-serif; 
	font-weight :normal; 
	font-size :11; 
	text-decoration:	underline; 
	color:#5C0107;
}
		
A.hyperlink:active 
{  
	font-family :Verdana, Arial, Geneva, Helvetica, sans-serif; 
	font-weight :normal; 
	font-size :11; 
	text-decoration:	underline; 
	color:#9CA231;
}

A.hyperlink:hover	
{  
	font-family :Verdana, Arial, Geneva, Helvetica, sans-serif; 
	font-weight :normal; 
	font-size :11; 
	text-decoration:	underline; 
	color:#000000;
}

A.addhyperlink:link {
	FONT-WEIGHT: bold; 
	FONT-SIZE: 13px; 
	COLOR: #666666; 
	FONT-FAMILY: Verdana, Arial, Geneva, Helvetica, sans-serif; 
	TEXT-DECORATION: none
}

A.addhyperlink:visited {
	FONT-WEIGHT: bold; 
	FONT-SIZE: 13px; 
	COLOR: #740607; 
	FONT-FAMILY: Verdana, Arial, Geneva, Helvetica, sans-serif; 
	TEXT-DECORATION: none
}

A.addhyperlink:active {
	FONT-WEIGHT: bold; 
	FONT-SIZE: 13px; 
	COLOR: #9CA231; 
	FONT-FAMILY: Verdana, Arial, Geneva, Helvetica, sans-serif; 
	TEXT-DECORATION: none
}
A.addhyperlink:hover {
	FONT-WEIGHT: bold; 
	FONT-SIZE: 13px; 
	COLOR: #000000; 
	FONT-FAMILY: Verdana, Arial, Geneva, Helvetica, sans-serif; 
	TEXT-DECORATION: none
}

table.banner
{ 
	background-color: #dfdcda;
	border: 1px solid #082410;
}

table.leftmenu
{
	width:150px;
}
table.leftmenu TH 
{
    font-family: Verdana, Arial, Geneva, Helvetica, sans-serif;
	font-size: 11px;
	font-weight:bold;
	color:#FFBB59;
	text-align: left;
	padding-left: 5px;
	height:25px;
	background-color: #86080B;
	width:150px;
}

table.leftmenu TD
{
    font-family: Verdana, Arial, Geneva, Helvetica, sans-serif;
	font-size: 11px;
	font-weight:normal;
	color:#86080B;
	text-align: left;
	padding-left: 3px;
	padding-top:3px;
	height:15px;
}

.menustyle
{
	font-family: Verdana, Arial, Geneva, Helvetica, sans-serif;
	font-size: 11px;
	font-weight:normal;
	color:#FDC26E;
	text-align: left;
	background-color: #FEDBDB;
	width:150px;
	vertical-align:top;
}

table.summary
{
	border: 1px solid #082410;
	padding-left: 0px;	
	padding-top: 0px;	
	padding-right: 0px;	
	padding-bottom: 0px;
	font-weight:bold;	
}

table.summary TH {
	font-family: Verdana, Arial, Geneva, Helvetica, sans-serif;
	font-size: 11px;
	font-weight:bold;
	color:#ffffff;
	text-align: center;
	padding-left: 0px;
	text-align: center;
	background-color: #C4414A;
	height: 22px;
}

table.summary TH.alternate {
	
	font-family: Verdana, Arial, Geneva, Helvetica, sans-serif;
	font-size: 11px;
	font-weight:bold;
	color:#ffffff;
	text-align: right;
	padding-left: 0px;
	background-color: #dfdcda;
	height: 22px;
}

table.summary TD {
	font-family: Verdana, Arial, Geneva, Helvetica, sans-serif;
	font-size: 11px;
	font-weight:normal;
	color:#000000;
	padding-left: 6px;
	height: 23px;
	background-color: #F9ECED;
}

table.summary TD.alternate {
    background-color:#F3D9DB;
}

.headingI { 
	FONT-WEIGHT: bold; 
	FONT-SIZE: 14px; 
	COLOR: #000000 ; 
	PADDING-TOP: 0px; 
	FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif; 
	HEIGHT: 50px; 
	TEXT-ALIGN: center
}	

.headingII {	
	FONT-WEIGHT: bold; 
	FONT-SIZE: 12px; 
	COLOR: #666666; 
	PADDING-TOP: 0px; 
	FONT-FAMILY: verdana, Arial, Geneva, Helvetica, sans-serif; 
	HEIGHT: 40px; 
	TEXT-ALIGN: center
}

.headingIII { 
	FONT-WEIGHT: bold; 
	FONT-SIZE: 16px; 
	COLOR: #000000 ; 
	PADDING-TOP: 0px; 
	FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif; 
	HEIGHT: 50px; 
	TEXT-ALIGN: center
}	

.SubHeadingI {	
    font-family: Tahoma, Arial, Geneva, Helvetica, sans-serif;
	font-size:11px;	
	font-weight:normal;
	vertical-align:middle;	
	color:#666666;
}	

.SubHeadingValueI {	
    font-family: Tahoma, Arial, Geneva, Helvetica, sans-serif;
	font-size:11px;	
	vertical-align:top;		
	color:#666666;
}	
	

.labels
{
    font-family: Tahoma, Arial, Geneva, Helvetica, sans-serif;
	font-size:13px;	
	font-weight:normal;
	vertical-align:middle;	
	color:#000000;
	text-align:left;
}

.labelsvalue
{
    font-family: Tahoma, Arial, Geneva, Helvetica, sans-serif;
	font-size:13px;	
	color:#666666;
	text-align:left;
	vertical-align:middle;
}

.textbox_code
{
    font-family: Verdana, Arial, Geneva, Helvetica, sans-serif;
	font-size: 11px;
	font-weight:normal;
	color:#000000;
	border:1px solid #000000;
	text-align: left;
	height: 16px;
	width:100px;
	padding-left:2px;
	vertical-align:middle;
}

.textbox_name
{
    font-family:verdana, Arial, Geneva, Helvetica, sans-serif;
	font-size:11px;
	font-weight:normal;
	color:#000000;
	text-align:left;
	height:16px;
	width:210;
	background-color:#ffffff;
	border:1px solid #000000;
	vertical-align:middle;
}

.textbox_desc
{
    font-family:verdana, Arial, Geneva, Helvetica, sans-serif;
	font-size:11px;
	font-weight:normal;
	color:#0000000;
	text-align:left;
	height:16px;
	width:200;
	background-color:#ffffff;
	border:1px solid #000000;
	vertical-align:middle;
}

.textbox_long
{
    font-family:verdana, Arial, Geneva, Helvetica, sans-serif;
	font-size:11px;
	font-weight:normal;
	color:#000000;
	text-align:left;
	height:16px;
	width:250;
	background-color:#ffffff;
	border:1px solid #000000;
	vertical-align:middle;
}

.textbox_number 
{
	font-family:verdana, Arial, Geneva, Helvetica, sans-serif;
	font-size:11px;
	font-weight:normal;
	color:#000000;
	text-align:right;
	height:16px;
	width:80;
	background-color:#ffffff;
	border:1px solid #000000;	
	vertical-align:middle;
}
.textbox_year 
{
	font-family:verdana, Arial, Geneva, Helvetica, sans-serif;
	font-size:11px;
	font-weight:normal;
	color:#000000;
	text-align:right;
	height:16px;
	width:40;
	background-color:#ffffff;
	border:1px solid #000000;	
	vertical-align:middle;
}
.textbox_phone
{
    font-family:verdana, Arial, Geneva, Helvetica, sans-serif;
	font-size:11px;
	font-weight:normal;
	color:#000000;
	text-align:right;
	height:16px;
	width:100;
	background-color:#ffffff;
	border:1px solid #000000;
	vertical-align:middle;
}

.textbox_postalcode
{
    font-family:verdana, Arial, Geneva, Helvetica, sans-serif;
	font-size:11px;
	font-weight:normal;
	color:#000000;
	text-align:right;
	height:16px;
	width:50;
	background-color:#ffffff;
	border:1px solid #000000;
	vertical-align:middle;
}

.textbox_emailaddress
{
    font-family:verdana, Arial, Geneva, Helvetica, sans-serif;
	font-size:11px;
	font-weight:normal;
	color:#000000;
	text-align:left;
	height:16px;
	width:200;
	background-color:#ffffff;
	border:1px solid #000000;
	vertical-align:middle;
}

.textbox_password
{
    font-family: Verdana, Arial, Geneva, Helvetica, sans-serif;
	font-size: 11px;
	font-weight:normal;
	color:#000000;
	text-align: left;
	height: 16px;
	width:100px;
	padding-left:2px;
	border:1px solid #000000;
	vertical-align:middle;
}

.textbox_date
{
    font-family:verdana, Arial, Geneva, Helvetica, sans-serif;
	font-size:11px;
	font-weight:normal;
	vertical-align:middle;
	color:#666666;
	text-align:right;
	padding-left:2px;
	height:16px;
	width:70px;
	background-color:#ffffff;
	border:1px solid #000000;
}

.textbox_time
{
    font-family:verdana, Arial, Geneva, Helvetica, sans-serif;
	font-size:11px;
	font-weight:normal;
	color:#000000;
	text-align:left;
	height:16px;
	width:35;
	background-color:#ffffff;
	border:1px solid #000000;
	vertical-align:middle;
}
.textbox_decimal 
{
	font-family:verdana, Arial, Geneva, Helvetica, sans-serif;
	font-size:11px;
	font-weight:normal;
	color:#1D3D79;
	text-align:right;
	height:16px;
	width:30;
	background-color:#ffffff;
	border:1px solid #000000;	
	vertical-align:middle;
}

.textbox_search
{
    font-family:verdana, Arial, Geneva, Helvetica, sans-serif;
	font-size:11px;
	font-weight:normal;
	color:#1D3D79;
	text-align:left;
	height:16px;
	background-color:#ffffff;
	border:1px solid #000000;
	vertical-align:middle;
}

.cbobox
{
    font-family:verdana, Arial, Geneva, Helvetica, sans-serif;
	font-size:11px;
	vertical-align:top;	
	font-weight:normal;
	color:#000000;
	text-align:left;
	height:16px;
	border:1px solid #314539;
	vertical-align:middle;
	SCROLLBAR-FACE-COLOR: #9CA231; 
	SCROLLBAR-HIGHLIGHT-COLOR: #9CA231; 
	SCROLLBAR-SHADOW-COLOR: #9CA231; 
	SCROLLBAR-3DLIGHT-COLOR: #314539; 
	SCROLLBAR-ARROW-COLOR: #86080B; 
	SCROLLBAR-TRACK-COLOR: #86080B; 
	SCROLLBAR-DARKSHADOW-COLOR: 314539; 
}

.cboboxmultiple
{
    font-family:verdana, Arial, Geneva, Helvetica, sans-serif;
	font-size:11px;
	vertical-align:top;	
	font-weight:normal;
	color:#000000;
	text-align:left;
	height:300px;
	width:240px;
	border:5px solid #314539;
	SCROLLBAR-FACE-COLOR: #9CA231; 
	SCROLLBAR-HIGHLIGHT-COLOR: #9CA231; 
	SCROLLBAR-SHADOW-COLOR: #9CA231; 
	SCROLLBAR-3DLIGHT-COLOR: #314539; 
	SCROLLBAR-ARROW-COLOR: #86080B; 
	SCROLLBAR-TRACK-COLOR: #86080B; 
	SCROLLBAR-DARKSHADOW-COLOR: 314539; 
}


.checkbox
{
    font-family:verdana, Arial, Geneva, Helvetica, sans-serif;
	font-size:11px;
	vertical-align:top;	
	font-weight:normal;
	color:#000000;
	text-align:left;
	height:16px;
}
.power {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	background-color: #01A0CA;
}


.radio
{
    font-family:verdana, Arial, Geneva, Helvetica, sans-serif;
	font-size:10px;
	vertical-align:top;	
	font-weight:normal;
	color:#000000;
	text-align:left;
	height:16px;
	
}

.button
{
	font-family: Verdana, Arial, Geneva, Helvetica, sans-serif;
	font-size: 10px;
	font-weight:bold;
	color:#000000;
	text-align: center;
	border: 1px solid #9CA231;
	background-color: #FFF4F4;
	border:1px solid #1D3D79;
	height:16px;
}

.buttonalternate
{
	font-family: Verdana, Arial, Geneva, Helvetica, sans-serif;
	font-size: 10px;
	font-weight:bold;
	color:#000000;
	text-align: center;
	background-color: #dfdcda;
	border:1px solid #1D3D79;
	height:16px;
}

.suffix 
{
	font-family: Tahoma, Arial, Geneva, Helvetica, sans-serif;
	font-size:9px;	
	vertical-align:middle;		
	color:#1D3D79;
	text-align:left;
}

.mandatory
{
    font-family: Tahoma, Arial, Geneva, Helvetica, sans-serif;
	font-size:9px;	
	vertical-align:top;		
	color:#FF0000;
	text-align:left;
}

.warning {
	FONT-WEIGHT: normal; 
	FONT-SIZE: 11px; 
	VERTICAL-ALIGN: top; 
	COLOR: #ff0000; 
	FONT-FAMILY: verdana, Arial, Geneva, Helvetica, sans-serif
	text-align:center;
}
.success {
	FONT-WEIGHT: normal; 
	FONT-SIZE: 11px; 
	VERTICAL-ALIGN: top; 
	COLOR: #ff3333; 
	FONT-FAMILY: verdana, Arial, Geneva, Helvetica, sans-serif
   text-align:center;
}


.copyrights
	{
    font-family: Verdana, Arial, Geneva, Helvetica, sans-serif;
	font-size: 11px;
	font-weight:normal;
	color:#FFD700;
	text-align: center;
	height: 27px;
	background-color:#753100;
	}

.banner_title
{
	font-family:Verdana, Arial, Geneva, Helvetica, sans-serif;
	font-size:28px;
}

.banner_address
{
	FONT-FAMILY: verdana, Arial, Geneva, Helvetica, sans-serif; 
	FONT-WEIGHT: normal; FONT-SIZE: 11px; 
	COLOR: #000000; PADDING-TOP: 0px; 
	HEIGHT: 40px; 
	TEXT-ALIGN: center
}
.vcdex {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}
.run {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #444B91;
	text-decoration: none;
	list-style-type: disc;
}
.hdr {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
	color: #86080B;
	text-decoration: none;
}



	.login-header
	{
    font-family: Verdana, Arial, Geneva, Helvetica, sans-serif;
	font-size: 12px;
	font-weight:bold;
	color:#FFBB59;
	text-align: left;
	padding-left:30px;
	background-image:url(../images/login-header-bg.jpg);
	background-repeat:no-repeat;
	height: 25px;
	width:170px;
	}

	.login-TextBox
	{
    font-family: Verdana, Arial, Geneva, Helvetica, sans-serif;
	font-size: 12px;
	font-weight:normal;
	color:#000000;
	text-align: left;
	padding-left:4px;
	border:1px solid #920808;
	background-color:#FFF4F4;
	height: 16px;
	width:150px;
	}


table.login-box TD.login_empty_space1
	{
    height: 2px;
	}
	
	
	.labels1 {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; VERTICAL-ALIGN: middle; COLOR: #3F0100; FONT-FAMILY: Tahoma, Arial, Geneva, Helvetica, sans-serif; TEXT-ALIGN: left
}

.labelsvalues {
	FONT-SIZE: 13px; VERTICAL-ALIGN: top; COLOR: #3F0100; FONT-FAMILY: Tahoma, Arial, Geneva, Helvetica, sans-serif; TEXT-ALIGN: left
}
	.workarea1 {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; BACKGROUND-COLOR: #C4414A;
}

login_head1 {
	   color:#FFC0CB; font-size:13px; font-weight:bold; text-align:center; BACKGROUND-COLOR: #91201F; height:25px;
}


header1 {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-TOP: 3px; BACKGROUND-COLOR: #F9ECED;
}

.textbox_code1
{
    font-family: Verdana, Arial, Geneva, Helvetica, sans-serif;
	font-size: 11px;
	font-weight:normal;
	color:#000000;
	border:1px solid #000000;
	text-align: left;
	height: 16px;
	width:120px;
	padding-left:2px;
	vertical-align:middle;
}


.textbox_password1
{
    font-family: Verdana, Arial, Geneva, Helvetica, sans-serif;
	font-size: 11px;
	font-weight:normal;
	color:#000000;
	border:1px solid #000000;
	text-align: left;
	height: 16px;
	width:120px;
	padding-left:2px;
	vertical-align:middle;
}


.summary1
{
	border: 1px solid #082410;
	padding-left: 0px;	
	padding-top: 0px;	
	padding-right: -2px;	
	padding-bottom: 0px;
	font-weight:bold;	
}



.copyrights1
	{
    font-family: Verdana, Arial, Geneva, Helvetica, sans-serif;
	font-size: 14px;
	font-weight:normal;
	color:#FFFFFF;
	text-align: center;
	height: 27px;
	background-color:#753100;
	}